/* ====================================
// css variables
// ==================================== */

:root {
  --red: #df0000;
  --black: #172632;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

header,
main,
footer {
  text-align: center;
  font-family: Roboto;
  color: var(--black);
}

header {
  margin: 0;
  background: #e7e7db;
  position: sticky;
  top: 0;
}

header img {
  padding: 14px 98px 12px 98px;
}

header hr {
  border: solid var(--red) 1px;
}

h1 {
  font-size: 36px;
  line-height: normal;
}

h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: normal;
  margin: 35px 12px;
}

p {
  padding: 0 35px 0 35px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.title-red-color {
  color: var(--red);
}

.title-box {
  border-top: 1px solid var(--red);
  border-bottom: 1px solid var(--red);
  padding: 25px 50px;
}

.button {
  background: var(--red);
  color: white;
  border-radius: 8px;
  width: 132px;
  height: 34px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 60px;
  margin-top: 29px;
}

.container {
  display: flex;
  justify-content: center;
}
